:root {
	--dark: #374151;
	--darker: #1F2937;
	--darkest: #111827;
	--grey: #6B7280;
	--pink: #EC4899;
	--purple: #8B5CF6;
	--light: #EEE;
}

* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: rgb(255, 255, 255);
	background-color: var(blue);
}

header {
	padding: 1rem 1rem;
	max-width:850px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 3.5rem;
	font-weight: 400;
	color:var(--pink);
	margin-bottom: 2rem;
}

#new-task-form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}

#new-task-input {
	flex: 1 1 0%;
	background-color:rgb(0, 255, 115);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: black;
	font-size: 1.5rem;
	
}

#new-task-input::placeholder {
	color:black;
}

#new-task-submit {
    font-size:1.5;
	color:maroon;
}

main {
	flex: 1 1 0%;
	max-width: 900px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 400;
	color:aqua;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: darkest;
	padding: 4rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}

.task .content .text {
	color: red;
	font-size: 1.5rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: var(pink);
}


